@model MvcProjesi.Data.Post

@{
    ViewBag.Title = "PostDetail";
}

<h2>Post Details</h2>

<div style="width:100%;margin-top:25px;box-shadow:0 0 5px gray;padding:25px;">
    <!--Başlığı, büyük ve renkli görünsün diye, h3 tagı içerisine aldık-->
    <h3 style="font-weight:bold;color:red">
        @Html.DisplayFor(i => Model.Title)
    </h3>

    <!--Başlıkla içerik arasına, dikey çizgi ekliyoruz.-->
    <hr />

    @Html.DisplayFor(i => Model.Topic)
    <hr />
    <!--Tarih başlığını, tarih içeriğine bağlamak için Label kullandık.-->
    @Html.Label("Date : ")

    @Html.DisplayFor(i => Model.Date)
    <hr />
    <h4>Writer</h4>

    <!--Burada bir değişkende, ad ile soyadı birleştirip ekrana bastık.-->
    @{string adSoyad = Model.Member.Name + " " + Model.Member.Surname;}
    @Html.Label("Name-Surname:  ")&nbsp;&nbsp;@adSoyad
</div>